<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="back-button">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ localizationSvc.translate('Impostazioni') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="nautical-content">

  <!-- Lingua -->
  <div class="selection-group">
    <h2 class="group-title">Lingua/ Language</h2>
    <h3 class="group-subtitle">Scegli la lingua / Choose your language</h3>
    <div class="mode-selection">
      <div class="mode-card"
          [class.selected]="isLanguageSelected('it')"
          (click)="onLanguageChange('it')">
        <h3>Italiano</h3>
      </div>
      <div class="mode-card"
          [class.selected]="isLanguageSelected('en')"
          (click)="onLanguageChange('en')">
        <h3>English</h3>
      </div>
    </div>
  </div>

  <!-- Aspetto -->
  <div class="selection-group">
    <h2 class="group-title">{{ localizationSvc.translate('Aspetto') }}</h2>
    <h3 class="group-subtitle">{{ localizationSvc.translate('Scegli lo schema di colori da usare') }}</h3>
    <div class="mode-selection">
      <div class="mode-card"
          [class.selected]="isAspettoSelected('device')"
          (click)="onAspettoChange('device')">
        <ion-icon name="phone-portrait" class="mode-icon"></ion-icon>
        <h3>{{ localizationSvc.translate('Come dispositivo') }}</h3>
      </div>
      <div class="mode-card"
          [class.selected]="isAspettoSelected('battery')"
          (click)="onAspettoChange('battery')">
        <ion-icon name="battery-full" class="mode-icon"></ion-icon>
        <h3>{{ localizationSvc.translate('Risparmio batteria') }}</h3>
      </div>
      <div class="mode-card"
          [class.selected]="isAspettoSelected('night')"
          (click)="onAspettoChange('night')">
        <ion-icon name="moon" class="mode-icon"></ion-icon>
        <h3>{{ localizationSvc.translate('In notturna') }}</h3>
      </div>
    </div>
  </div>

  <!-- Carattere -->
  <div class="selection-group">
    <h2 class="group-title">{{ localizationSvc.translate('Carattere') }}</h2>
    <h3 class="group-subtitle">{{ localizationSvc.translate('Cambia il tipo di carattere') }}</h3>
    <div class="mode-selection">
      <div class="mode-card"
          [class.selected]="isFontSelected('Orbitron')"
          (click)="onFontChange('Orbitron')">
        <h3>{{ localizationSvc.translate('Tecnico') }}</h3>
      </div>
      <div class="mode-card"
          [class.selected]="isFontSelected('JetBrains Mono')"
          (click)="onFontChange('JetBrains Mono')">
        <h3>{{ localizationSvc.translate('Arrotondato') }}</h3>
      </div>
    </div>
  </div>

    <!-- stile -->
  <div class="selection-group">
    <h2 class="group-title">{{ localizationSvc.translate('Design') }}</h2>
    <h3 class="group-subtitle">{{ localizationSvc.translate('Stile degli strumenti') }}</h3>
    <div class="mode-selection">
      <div class="mode-card"
          [class.selected]="isInstrumentStyleSelected('versione3')"
          (click)="onInstrumentStyleChange('versione3')">
        <h3>{{ localizationSvc.translate('Arrotondato') }}</h3>
      </div>
      <div class="mode-card"
          [class.selected]="isInstrumentStyleSelected('versione4')"
          (click)="onInstrumentStyleChange('versione4')">
        <h3>{{ localizationSvc.translate('Squadrato') }}</h3>
      </div>
    </div>
  </div>


  <!-- Orario -->
  <div class="selection-group">
    <h2 class="group-title">{{ localizationSvc.translate('Impostazioni orario') }}</h2>
    <h3 class="group-subtitle">{{ localizationSvc.translate('Scegli tra ora locale ed UTC') }}</h3>
    <div class="mode-selection">
      <div class="mode-card"
          [class.selected]="isFusocSelected('local')"
          (click)="onFusocChange('local')">
        <ion-icon name="pin" class="mode-icon"></ion-icon>
        <h3>{{ localizationSvc.translate('ora locale') }}</h3>
      </div>
      <div class="mode-card"
          [class.selected]="isFusocSelected('utc')"
          (click)="onFusocChange('utc')">
        <ion-icon name="globe" class="mode-icon"></ion-icon>
        <h3>{{ localizationSvc.translate('UTC') }}</h3>
      </div>
      <h3 class="group-subtitle"><br/>{{ localizationSvc.translate('Scegli il formato orario') }}</h3>
      <div class="mode-card"
          [class.selected]="isShowSecondsSelected(false)"
          (click)="onShowSecondsChange(false)">
        <h3>hh:mm</h3>
      </div>
      <div class="mode-card"
          [class.selected]="isShowSecondsSelected(true)"
          (click)="onShowSecondsChange(true)">
        <h3>hh:mm:ss</h3>
      </div>
    </div>
  </div>
</ion-content>