<!-- home.page.html -->
<ion-content [fullscreen]="true" scrollY="false" scrollX="false" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
  <div [style.display]="'flex'" 
       [style.flex-direction]="'column'" 
       [style.gap.px]="getContainerGap()"
       [style.height]="'100%'"
       [ngClass]="'style-version-' + (styleVersion$ | async)">
    
    <!-- Griglia dinamica basata su LayoutSize e Orientamento -->
    <ng-container *ngIf="(gridColumns$ | async) as cols">
      <ng-container *ngIf="(visibleSlots$ | async) as slots">
        <div [style.display]="'grid'" 
             [style.grid-template-columns]="'repeat(' + cols + ', 1fr)'" 
             [style.gap.px]="getGridGap()"
             style="flex: 1;">
          
          <div *ngFor="let slot of slots" class="dash-card style-{{ slot.measurandId }}">
            <div class="dash-label">
              <span class="label-text"> 
              {{ getMeasurandData(slot.measurandId)?.shortLabel }} </span>
              <span class="unit-text">
                {{ getMeasurandData(slot.measurandId)?.unit }}
              </span> 
            </div>
            
            <!-- Valore standard (una sola riga) -->
            <div *ngIf="!isPositionType(slot.measurandId)" class="dash-value">
              <span fitText>{{ getMeasurandValue(slot.measurandId) }}</span>
            </div>

            <!-- Valore posizione (due righe) -->
            <div *ngIf="isPositionType(slot.measurandId)" class="dash-value-position">
              <div *ngFor="let line of getPositionLines(slot.measurandId)" class="position-line">
                {{ line }}
              </div>
            </div>
            
            <!--
            <div class="dash-unit">
              {{ getMeasurandData(slot.measurandId)?.unit }}
            </div> -->
          </div>

        </div>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
