<!-- home.page.html -->
<ion-content [fullscreen]="true" scrollY="false" scrollX="false" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
  <div [style.display]="'flex'" 
       [style.flex-direction]="'column'" 
       [style.gap.px]="getContainerGap()"
       [style.height]="'100%'"
       [ngClass]="'style-version-' + (styleVersion$ | async)">
    
    <!-- Griglia dinamica basata su LayoutSize e Orientamento -->
    <ng-container *ngIf="(gridColumns$ | async) as cols">
      <ng-container *ngIf="(visibleSlots$ | async) as slots">
        <div [style.display]="'grid'" 
             [style.grid-template-columns]="'repeat(' + cols + ', 1fr)'" 
             [style.gap.px]="getGridGap()"
             style="flex: 1;">
          
          <div *ngFor="let slot of slots" class="dash-card style-{{ slot.measurandId }}">
            <div class="dash-label">
              <div class="label-text"> 
                {{ getMeasurandData(slot.measurandId)?.shortLabel }}
                <span class="unit-text">
                  {{ getMeasurandData(slot.measurandId)?.unit }}
                </span> 
              </div>
              <span class="right-text">
                {{ getRelatedLabel(slot.measurandId) }}
              </span> 
            </div>
            
            <!-- Valore standard (una sola riga) -->
            <div *ngIf="!isPositionType(slot.measurandId)" class="dash-value">
              <span fitText (fitted)="onFitted($event, slot.position)">{{ getMeasurandValue(slot.measurandId) }}</span>
            </div>

            <!-- Valore posizione (due righe) -->
            <div *ngIf="isPositionType(slot.measurandId)" class="dash-value-position">
              <div *ngFor="let line of getPositionLines(slot.measurandId)" class="position-line">
                {{ line }}
              </div>
            </div>
            
            @if (getMeasurandMessage(slot.measurandId); as msg) {
              <div class="dash-message">
                @if (msg.startsWith('(i)')) {
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ msg.slice(3) }}
                } @else if (msg.startsWith('(e)')) {
                  <ion-icon name="close-circle-outline"></ion-icon>
                  {{ msg.slice(3) }}
                } @else {
                  {{ msg }}
                }
              </div>
            }
          </div>

        </div>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
